.footer {
    width: 100%;
    margin-top: 100px;
    background-color: black;
    text-align: center;
    padding-bottom: 20px;
}

.footer .logo {
    background-color: white;
}

.link-container {
    margin: 20px;
    display: inline-block;
}

.link-container a {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    margin: 20px;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.link-container a:hover {
    opacity: 0.5;
}

.copyright {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
    margin: 20px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .link-container a {
        margin: 5px;
    }
}

@media screen and (max-width: 700px) {
    .link-container a {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 400px) {
    .link-container {
        margin-top: 10px;
    }
    .footer .title {
        font-size: 30px;
    }
}