* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow-x: hidden;
    width: 100vw;
}

body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
}


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

 .hamburger {
    padding: 0px 25px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
}
.hamburger:hover {
    opacity: 1; 
}
.hamburger-box {
    width: 20px;
    height: 24px;
    display: inline-block;
    position: relative; 
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #0B24FB;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}
.hamburger-inner::before {
    top: -10px; 
}
.hamburger-inner::after {
    bottom: -10px; 
}
  
  /*
   * Slider
   */

.hamburger--slider .hamburger-inner {
    top: 2px; 
}
.hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; 
}
.hamburger--slider .hamburger-inner::after {
    top: 20px; 
}
.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg); 
}
.hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; 
}
.hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
}
  

/*--------------------End Hamburgers--------------------*/

#hamburger {
    position: absolute;
    z-index: 200;
    display: none;
    top: 40px;
    right: 20px;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.nav-bar {
    font-family: 'Montserrat', sans-serif;
    margin: 45px;
    float: right;
}

.nav-bar a {
    color: black;
    margin-left: 20px;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.nav-bar a:hover {
    opacity: 0.3;
}

.logo {
    position: relative;
    width: 150px;
    margin: 30px;
    padding: 3px 20px 3px 20px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom: 3px #0B24FB solid;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    z-index: 200;
}

.logo:hover {
    background-color: rgba(255, 255, 355, 0);
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 150;
    left: 0px;
    right: 0px;
    padding-top: 120px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.mobile-menu a {
    color: black;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    border-bottom: 2px black solid;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.active-menu {
    visibility: visible;
    opacity: 1;
}

.mobile-menu a:nth-child(1) {
    border-top: 2px black solid;
}

.mobile-menu a:hover {
    color: white;
    background-color: black;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: black;
}
::-webkit-scrollbar-track {
    background: white;
}

@media screen and (min-width: 1024px) {
    .mobile-menu {
        visibility: hidden;
        opacity: 0;
    }
}

@media screen and (max-width: 1024px) {
    .nav-bar a {
        display: none;
    }
    #hamburger {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .logo {
        width: 150px;
        padding: 10px 10px 5px 10px;
    }
}

@media screen and (max-width: 550px) {
    .logo {
        width: 100px;
        padding: 10px 10px 5px 10px;
    }
}