.logo {
    background-color: white;
}

.nav-bar a:nth-child(1) {
    color: #0B24FB;
    font-weight: 500;
}

.main-container {
    height: 100vh;
    width: 100vw;
}

.left-side {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50vw;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/911758/pexels-photo-911758.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.center-text {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -40%);
    z-index: 2;
}

.center-text h1 {
    font-size: 60px;
}

.center-text h2 {
    display: inline-block;
    width: 300px;
    font-size: 25px;
    font-weight: 400;
    background-color: white;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
}

.center-text .underline-1 {
    display: inline-block;
    width: 70px;
    height: 2px;
    margin-top: -20px;
    margin-left: 55px;
    background-color: black;
    margin-bottom: 10px;
}
.center-text .underline-2 {
    display: inline-block;
    width: 70px;
    height: 2px;
    margin-top: -20px;
    margin-left: -50px;
    background-color: black;
}

.thin {
    font-weight: 400;
    opacity: 0;
}

.primary {
    color: #0B24FB;
}

h1 .primary {
    background-color: white;
    padding: 5px 10px 5px 10px;
    border: 3px #0B24FB solid;
    opacity: 0;
}

.right-vertical-line {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: #0B24FB;
    height: 0px;
    width: 3px;
}

.welcome {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: absolute;
    right: 0px;
    bottom: 70px;
    transform: rotate(-90deg);
    font-weight: 500;
}

.more-info-button {
    display: inline-block;
    margin-top: 50px;
    color: white;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 1px;
    border: 2px #0B24FB solid;
    background-color: #0B24FB;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.more-info-button:hover {
    color: black;
    background-color: white;
}

.copyright {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    bottom: 10px;
    left: 10px;
    text-align: center;
    font-weight: 500;
    border: 2px black solid;
    padding: 10px 10px 6px 10px;
}

.dots {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(3%, -50%);
    z-index: -2;
}

.floating {
	animation: floating 6s cubic-bezier(.25,.8,.25,1) infinite;
}

.side-to-side {
	animation: side-to-side 3s cubic-bezier(.25,.8,.25,1) infinite;
}

.inverse-side-to-side {
	animation: inverse-side-to-side 7s cubic-bezier(.25,.8,.25,1) infinite;
}

.expand-up {
    animation: expand-up 1s cubic-bezier(.25,.8,.25,1) 3.5s forwards;
}

.fade-in {
    opacity: 0;
    animation: fade-in 1s cubic-bezier(.25,.8,.25,1) 2s forwards;
}

.fade-in-two {
    opacity: 0;
    animation: fade-in 1s cubic-bezier(.25,.8,.25,1) 1s forwards;
}

.fade-in-three {
    opacity: 0;
    animation: fade-in 1s cubic-bezier(.25,.8,.25,1) 3s forwards;
}

@keyframes floating {
	0% {
		transform: translatey(-50%);
	}
	50% {
		transform: translatey(calc(-50% - 40px));
	}
	100% {
		transform: translatey(-50%);
	}
}

@keyframes side-to-side {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(-40px);
	}
	100% {
		transform: translatex(0px);
	}
}

@keyframes inverse-side-to-side {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(60px);
	}
	100% {
		transform: translatex(0px);
	}
}

@keyframes expand-up {
	0% {
		height: 0px;
	}
	100% {
		height: 200px;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 630px) {
    .dots {
        left: unset;
        right: 10px;
    }
}

@media screen and (max-width: 320px) {
    .dots {
        width: 100%;
    }
}