.nav-bar a:nth-child(4) {
    color: #0B24FB;
    font-weight: 500;
}

.plan-main {
    width: 100%;
    text-align: center;
}

.main-title {
    display: inline-block;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 40px;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-top: 1px rgba(0, 0, 0, 0.1) solid;
    border-left: 1px rgba(0, 0, 0, 0.1) solid;
    border-right: 1px rgba(0, 0, 0, 0.1) solid;
    border-bottom: 3px #0B24FB solid;
}

h1 {
    display: inline-block;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 40px;
    margin: 20px;
}

.info-container {
    display: inline-block;
    width: 90%;
    padding-top: 20px;
}

.special-p {
    background-color: white;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    padding: 20px;
}

p {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
}

h2 {
    font-size: 23px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
}

ul {
    display: inline-block;
    width: 70%;
}

li {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 22px;
    margin: 10px;
}

.extra-margin {
    margin: 20px;
    text-align: left;
}

.primary-btn-container {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.primary-btn {
    display: inline-block;
    margin: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: #0B24FB;
    border: 2px #0B24FB solid;
    border-radius: 50px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    padding: 10px 20px 10px 20px;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.primary-btn:hover {
    color: black;
    background-color: white;
}

@media screen and (max-width: 600px) {
    p {
        font-size: 18px;
    }
    li {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    h1, .main-title {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    h1, .main-title {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
}